<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xarial.XCad" publicKeyToken="60dcaf351d4060db" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.12.0" newVersion="0.7.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.swpublished" publicKeyToken="89a97bdc5284e6d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-30.0.0.5041" newVersion="30.0.0.5041" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.sldworks" publicKeyToken="7c4797c3e4eeac03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-30.0.0.5041" newVersion="30.0.0.5041" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SolidWorks.Interop.swconst" publicKeyToken="19f43e188e4269d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-30.0.0.5041" newVersion="30.0.0.5041" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
